## groupby

In [3]:
import pandas as pd
d=pd.DataFrame({
   "names":["a","b","c","d","e"],
    "salary":[10000,30000,23000,45000,25000],
    "age":[23,45,34,67,12],
    "gender":["f","f","m","m","f"]
})
d

  names  salary  age gender
0     a   10000   23      f
1     b   30000   45      f
2     c   23000   34      m
3     d   45000   67      m
4     e   25000   12      f

In [4]:
print(d.groupby(["gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001832B6699D0>

In [7]:
a=d.groupby(["gender","dept"])
print(a.groups)

KeyError: 'dept'