In [16]:
import pandas as pd
data=pd.read_csv("Sal.csv")
data

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [17]:
data.head(10)

      company                  job     degree  salary_more_then_100k
0      google      sales executive  bachelors                      0
1      google      sales executive    masters                      0
2      google     business manager  bachelors                      1
3      google     business manager    masters                      1
4      google  computer programmer  bachelors                      0
5      google  computer programmer    masters                      1
6  abc pharma      sales executive    masters                      0
7  abc pharma  computer programmer  bachelors                      0
8  abc pharma     business manager  bachelors                      0
9  abc pharma     business manager    masters                      1

In [20]:
data.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [22]:
input=data.drop('salary_more_then_100k',axis=1)

In [23]:
target=data['salary_more_then_100k']

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [35]:
input["company_n"]=le_company.fit_transform(input["company"])
input["job_n"]=le_job.fit_transform(input["job"])
input["degree_n"]=le_degree.fit_transform(input["degree"])

In [36]:
inputs_n=input[["company_n","job_n","degree_n"]]

In [37]:
from sklearn import tree

In [38]:
model=tree.DecisionTreeClassifier()

In [40]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [41]:
model.score(inputs_n,target)

1.0

In [42]:
model.predict([[2,1,0]])

e:\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)